---
azure_container_registry: "{{ env['REGISTRY'] }}"
azure_container_registry_username: "{{ env['ACR_USERNAME'] }}"
azure_container_registry_password: "{{ env['ACR_PASSWORD'] }}"

github_pat_token: "{{ env['GH_PAT_TOKEN'] }}"
github_owner: "{{ env['GH_OWNER'] }}"
github_repository: "{{ env['GH_REPO'] }}"

runner_image_name: "{{ env['ACR_RUNNER_IMAGE_NAME'] }}"