location = "{{ env['AZURE_LOCATION'] }}"
resource_group = "{{ env['AZURE_RESOURCE_GROUP'] }}"
gallery_name   = "{{ env['AZURE_ACG'] }}"
gallery_image_name = "{{ env['IMAGE_NAME'] }}"
gallery_image_version = "1.0.{{ env['IMAGE_VERSION'] }}"
